$bannerBG: #EAEADD;
$dateBG: #FDF5E0;
$tagBG: #FE8300;
$textBlack: #444;
$textRed: rgb(221, 0, 0);
$textGreen: rgb(31, 181, 171);
$textBlue: rgb(25, 131, 145);
$border: 1px solid rgba(0, 0, 0, 0.1);

* {
    box-sizing: border-box;
    color: $textBlack;
}

.calendar_container {
    width: calc(100% - 20px);
    min-width: 400px;
    max-width: 800px;
    margin: 0 auto;

    .top_container {
        width: 100%;
        height: 50px;
        background-color: $bannerBG;
        display: flex;

        .arrow {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0 8px;
            i {
                color: $textRed;
                font-size: 20px;
            }
        }

        .monthly_tab {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: end;

            .tab_container {
                height: calc(100% - 3px);
                flex-grow: 1;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                .date {
                    display: flex;
                    p {
                        line-height: 1.3;
                    }
                }

                .depart_info {
                    font-size: 14px;
                    color:rgb(31, 181, 171);
                }
            }

            .current_tab {
                background-color: #fff;
                color: $textRed;
            }
        }
    }
    
    .bottom_container {
        .days_of_week {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 10px 0;
            border: $border;
            .week_day {
                flex-grow: 1;
                font-size: 14px;
                font-weight: bold;
                text-align: center;
            }
        }

        .days_calender {

            .day {
                // border-bottom: $border;
                border-right: $border;
            }
        }
    }
}