$textBlue: #3ea5d9;
$textBlack: #444444;
$textRed: #f03742;
$textDisabled: #bbbbbb;

* {
  box-sizing: border-box;
}
.container {
  .title_section {
    display: none;
    .title_lists {
    }
  }

  .bottom_section {
    .block {
      margin: 0 auto 10px;
      max-width: 320px;
      box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
      padding: 15px 9px;

      ul {
      }

      .block_item {
        list-style: none;
        display: flex;
        margin-bottom: 5px;
        line-height: 19px;

        .block_title {
          margin-right: 8px;
          text-align: right;
          width: 63px;
          font-size: 14px;
          font-weight: bold;
          color: $textBlack;
          line-height: 19px;
        }
        .text_left {
          text-align: left;
        }
        .align_center {
          display: flex;
          align-items: center;
          width: 63px;
        }

        .block_content {
          font-size: 14px;
          line-height: 19px;

          .block_link {
            color: $textBlue;
            span {
              display: block;
              .block_slash_product {
                display: none;
              }
            }
          }
          .block_lightbox {
            border-bottom: 1px dashed $textBlack;
          }
          .block_slash_pre {
            color: $textBlack;
          }
          .block_content_price {
            color: $textRed;
            font-weight: bold;
          }
          .block_content_button {
            border-radius: 4px;
            border: 1px solid $textRed;
            width: 80px;
            padding: 8px 0px;
            text-align: center;
          }
          .block_balance_zero {
            color: $textDisabled;
            border: 1px solid $textDisabled;
          }
        }
        .content_flex {
          display: flex;
        }
      }

      .block_flex {
        display: flex;
        align-items: center;

        .width_half {
          width: 50%;
        }
        .margin_right {
          // padding-right: 5px;
        }
      }
    }
    .block.disabled {
      color: $textDisabled;

      .block_item, .block_flex {
        p.block_content, span.block_content, .block_content .block_link, .block_title, span.block_content_price {
        color: $textDisabled;
      }

      .block_lightbox {
        border-bottom: 1px dashed #bbbbbb;
      }
      .block_lightbox.block_source_name {
        border-bottom: 1px dashed #bbbbbb;
      }
      .block_lightbox.enable {
        color: $textBlack;
        border-bottom: 1px dashed #444444;
      }
      .block_link {
        pointer-events: none;
      }
      }
      
    }
  }
}

@media (min-width: 1190px) {
  .container {
    .title_section {
      display: flex;
      background-color: #404644;
      border-radius: 3px;
      width: 100%;
      max-width: 1190px;
      margin: 0 auto;
      height: 40px;

      .title_lists {
        list-style: none;
        color: white;
        font-size: 14px;
        line-height: 17px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    .bottom_section {
      .block {
        margin: 0 auto;
        padding: 0;
        max-width: 1190px;
        box-shadow: none;
        border-radius: 5px;
        border-bottom: 1px solid #dddddd;
        display: flex;
        justify-content: center;
        align-items: center;

        ul {
          width: 100%;
          display: flex;
          align-items: center;
        }

        .block_item {
          height: 100px;
          justify-content: center;
          align-items: center;
          text-align: center;

          .block_title {
            display: none;
          }
          .text_left {
          }
          .align_center {
          }
          .block_content {
            width: auto;
            color: #222222;

            .block_link {
              // text-align: left;
              // display: block;
              .block_slash_pre {
                  display: none;
                }
                span {
                display: inline;
                .block_slash_product {
                  display: inline;
                }
              }
              p {
                display: block;
              }
            }
            .block_lightbox.enable {
              display: block;
            }
            .block_content_price {
            }
            .block_content_button {
              margin: 0 auto;
            }
          }
          .dp_block {
            display: block;
          }
          .status_lightbox {
            border-bottom: 1px dashed #444444;
          }
          .content_flex {
            display: block;
          }
        }

        .block_flex {
          .title_60 {
            width: 60px;
          }
          .title_70 {
            width: 70px;
          }
          .title_80 {
            width: 80px;
          }
          .title_100 {
            width: 100px;
          }
          .title_110 {
            width: 110px;
          }
          .title_115 {
            width: 115px;
          }
          .title_165 {
            width: 165px;
          }
        }
      }
      .block:hover {
        box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
      }
      .block.disabled {
  
        p.block_content, span.block_content, .block_content .block_link, .block_title {
        }
        .block_lightbox {
        }
        .block_slash_source, .block_source_name {
          display: none;
        }
        .block_lightbox.enable {

        }
        .block_link {
        }
      }
    }

    .title_60 {
      width: 60px;
    }
    .title_70 {
      width: 70px;
    }
    .title_80 {
      width: 80px;
    }
    .title_100 {
      width: 100px;
    }
    .title_110 {
      width: 110px;
    }
    .title_115 {
      width: 115px;
    }
    .title_165 {
      width: 165px;
    }
  }
}
