$textBlue: #3ea5d9;
$textBlack: #444444;
$textRed: #f03742;
$textDisabled: #bbbbbb;

* {
  box-sizing: border-box;
}
.OD_container {
  .OD_title_section {
    display: none;
    .OD_title_lists {
    }
  }

  .OD_bottom_section {
    .OD_block {
      margin: 0 auto 10px;
      max-width: 320px;
      box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
      padding: 15px 9px;

      ul {
      }

      .OD_block_item {
        list-style: none;
        display: flex;
        margin-bottom: 5px;
        line-height: 19px;

        .OD_block_title {
          margin-right: 8px;
          text-align: right;
          width: 63px;
          font-size: 14px;
          font-weight: bold;
          color: $textBlack;
          line-height: 19px;
        }
        .OD_align_left {
          text-align: left;
        }
        .OD_align_center {
          display: flex;
          align-items: center;
          width: 63px;
        }

        .OD_block_content {
          font-size: 14px;
          line-height: 19px;

          .OD_block_link {
            color: $textBlue;
            span {
              display: block;
              .OD_block_slash_product {
                display: none;
              }
            }
          }
          .OD_block_lightbox {
            border-bottom: 1px dashed $textBlack;
          }
          .OD_block_slash_pre {
          }
          .OD_block_content_price {
            color: $textRed;
            font-weight: bold;
          }
          .OD_block_content_button {
            border-radius: 4px;
            border: 1px solid $textRed;
            width: 80px;
            padding: 8px 0px;
            text-align: center;
          }
          .OD_block_balance_zero {
            color: $textDisabled;
            border: 1px solid $textDisabled;
          }
        }
        .OD_content_flex {
          display: flex;
        }
      }

      .OD_block_flex {
        display: flex;
        align-items: center;

        .OD_width_half {
          width: 50%;
        }
        .OD_margin_right {
          // padding-right: 5px;
        }
      }
    }
    .OD_block.OD_disabled *{
      color: $textDisabled;
    }
  }
}

@media (min-width: 361px) {
  .OD_container {
    .OD_title_section {
      display: flex;
      background-color: #404644;
      border-radius: 3px;
      width: 100%;
      max-width: 1190px;
      margin: 0 auto;
      height: 40px;

      .OD_title_lists {
        list-style: none;
        color: white;
        font-size: 14px;
        line-height: 17px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    .OD_bottom_section {
      .OD_block {
        margin: 0 auto;
        padding: 0;
        max-width: 1190px;
        box-shadow: none;
        border-radius: 5px;
        border-bottom: 1px solid #dddddd;
        display: flex;
        justify-content: center;
        align-items: center;

        ul {
          width: 100%;
          display: flex;
          align-items: center;
        }

        .OD_block_item {
          height: 100px;
          justify-content: center;
          align-items: center;

          .OD_block_title {
            display: none;
          }
          .OD_align_left {
          }
          .OD_align_center {
          }
          .OD_block_content {
            width: 100%;
            text-align: center;
            color: #222222;

            .OD_block_link {
              // text-align: left;
              // display: block;
              span {
                display: inline;
                .OD_block_slash_product {
                  display: inline;
                }
              }
            }
            .OD_block_lightbox {
            }
            .OD_block_slash_pre {
              display: none;
            }
            .OD_block_content_price {
            }
            .OD_block_content_button {
              margin: 0 auto;
            }
          }
          .OD_dp_block {
            display: block;
          }
          .OD_status_lightbox {
            border-bottom: 1px dashed #444444;
          }
          .OD_content_flex {
            display: block;
          }
        }

        .OD_block_flex {
          .OD_title_60 {
            width: 60px;
          }
          .OD_title_70 {
            width: 70px;
          }
          .OD_title_80 {
            width: 80px;
          }
          .OD_title_100 {
            width: 100px;
          }
          .OD_title_110 {
            width: 110px;
          }
          .OD_title_115 {
            width: 115px;
          }
          .OD_title_165 {
            width: 165px;
          }
        }
      }
      .OD_block:hover {
        box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
      }
      
    }

    .OD_title_60 {
      width: 60px;
    }
    .OD_title_70 {
      width: 70px;
    }
    .OD_title_80 {
      width: 80px;
    }
    .OD_title_100 {
      width: 100px;
    }
    .OD_title_110 {
      width: 110px;
    }
    .OD_title_115 {
      width: 115px;
    }
    .OD_title_165 {
      width: 165px;
    }
  }
}
